* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo {
    display: inline-block;
    padding-left: 20px;
}

.user-center {
    display: inline-block;
    float: right;
    padding-right: 20px;
}

.el-header {
    line-height: 60px;
    background-color: #B3C0D1;
    color: #333;
}

.el-aside {
    width: 200px;
    background-color: #D3DCE6;
    color: #333;
}

.el-main {
    padding: 20px;
}

.btn-group {
    margin-top: 20px;
    text-align: right;
}
